<div class="post-answer">
  <h1>正解は・・・<span class="answer"><%= @answer %></span>でした！</h1>
  <img src=<%= @post.image %> class="post_image">
  <p><%= @post.comment %></p>
  <p class="posted_by">Posted by
    <img src=<%= @post.user.image %> class="user_image"><%= @post.user.name %>
    at: <%= @post.created_at %>
  </p>
</div>
