<div class="form posts-new">
  <% @post.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
  <% end %>

  <%= form_with model:@post, local: true do |f| %>

    <div class="field">
      <%= f.label :image %><br />
      <%= f.file_field :image %>
    </div>

    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :comment %><br />
      <%= f.text_field :comment, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :question %><br />
      <%= f.text_field :question, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :answer_type %><br />
      <%= f.radio_button :answer_type, :choice %>
      <%= f.label :answer_type, "選択式", {value: :choice, style: "display: inline-block;"} %>
      <%= f.radio_button :answer_type, :click_photo %>
      <%= f.label :answer_type, "画像クリック式", {value: :click_photo, style: "display: inline-block;"} %>
    </div>

    <div class="field answer_choices_fields">
      <%= f.fields_for :answer_choices do |f| %>
        <%= render 'answer_choice_fields', f: f %>
      <% end %>
      <%= link_to_add_association '追加',f, :answer_choices %>
    </div>

    <div class="field answer_positions_fields">
      <%= f.fields_for :answer_positions do |f| %>
        <%= render 'answer_position_fields', f: f %>
      <% end %>
        <%= link_to_add_association '追加',f, :answer_positions %>
    </div>

    <div class="actions">
      <%= f.submit "Create" %>
    </div>
  <% end %>
</div>
<%= javascript_pack_tag 'post/new.js' %>
<%= javascript_pack_tag 'post/common.js' %>