<div class="post-show">
  <h1><%= @post.question %></h1>
  <img src=<%= @post.image %> class="post_image">
  <% if user_signed_in? && @post.user.id == current_user.id %>
    <div>
      <%= link_to(edit_post_path(@post.id)) do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <%= link_to post_path(@post.id), method: :delete, data: { confirm: "本当に削除しますか？" } do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </div>
  <% end %>
  <% @post.answer_choices.each do |answer_choice| %>
    <p><%= link_to(answer_choice.answer, "/posts/#{@post.id}/answer") %></p>
  <% end %>
  <p class="posted_by">Posted by
    <img src=<%= @post.user.image %> class="user_image"><%= @post.user.name %>
    at: <%= @post.created_at %>
  </p>
</div>